* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/*------------------ Header styles---------------------------- */
.header {
    background: rgba(255, 144, 14, 0.1);
}

.header-details {
    width: 1440px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-details ul {
    display: flex;
    gap: 80px;
}

.header-details ul li {
    list-style: none;

}

.header-details ul li a {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
}

/*----------------------- Banner styles------------------------------- */
.banner {
    background: rgba(255, 144, 14, 0.1);
    text-align: center;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 20px;
}

.banner-description {
    color: #727272;
    margin-bottom: 30px;
}

.primary-btn {
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: 0;
    color: #fff;
}

.banner img {

    width: 1440px;
    height: 700px;
    background: url(group-three-modern-architects.jpg);
    border-radius: 8px;
    margin: 30px 240px;
}

/*-------------- main area style ----------------- */
.container {
    width: 1440px;
    margin: 70px auto;
}

/*--------------------- quick list styles--------------------- */

.quick-list {
    display: flex;
    align-items: center;
    gap: 75px;
    padding: 0 40px;

}

.quick-list-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.quick-list-details h2 {
    font-size: 45px;
    margin-bottom: 20px;
}

.gray {
    color: #727272;
}

.orange {
    color: #FF900E;
}

.quick-list-details p {
    line-height: 26px;
    margin-bottom: 20px;
}

/*------------------ features styles-------------------- */
.features {
    display: flex;
    justify-content: space-between;
}

.features-details {
    padding-top: 30px;
}

.features-details h2 {
    color: #131313;
    font-size: 45px;
    margin-bottom: 15px;
    padding-left: 10px;
    border-left: 3px solid #FF900E;
}

.features-details p {
    color: #727272;
    margin-bottom: 25px;
    line-height: 26px;
}

.features-details>div>h3 {
    margin-bottom: 15px;
}

.features-details div {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 25px 10px;

}

.features-img img {
    width: 708px;
    height: 982px;
}

.experience {
    width: 342px;
    height: 200px;
    background: #FF900E;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    position: relative;
    margin: -150px;

}

.experience h2 {
    font-size: 65px;
    padding-top: 40px;


}

.experience p {
    font-size: 25px;
}

/*------------------- some facts section style------------------------- */
.some-facts h2 {
    font-size: 45px;
    margin-bottom: 24px;
    color: #000;
    font-weight: 700px;

}

.some-facts p {
    color: #727272;
    line-height: 26px;

}

.facts {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.facts-item{
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 30px;
    text-align: center;

}

.facts-item h3 {
    font-size: 35px;
}
.facts-item:hover{
    cursor: pointer;
    transform: rotate(0deg) scale(1.5) translateY(10px);
    transition: .5s all ease;
    z-index: 400;
}
/*--------------- Some designs style ---------------- */
.some-designs {
    text-align: center;

}

.some-designs h2 {
    font-size: 45px;
    margin-bottom: 50px;
}

.designs {
    display: flex;
    justify-content: space-between;
}

.some-designs img {
    background: url(group-three-modern-architects.jpg);
    border-radius: 8px;

}

/*------------------ Our Sponspors styles--------------- */
.our-sponspors {
    text-align: center;
}

.our-sponspors h2 {
    font-size: 45px;
    margin-bottom: 15px;

}

.sponspors {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.sponspors img {
    filter: grayscale(100%);
}



/*-------------- footer styles----------------- */
footer {
    width: 1440px;
    background: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    margin: 0 auto;
    padding: 40px;
}

.hide{
    display: none;
}

@media only screen and (max-width:576px) {
    .container {
        width: 100%;
    }
    .header-details ul{
        flex-direction: column;
        gap: 20px;
    }
    .header-details{
        flex-direction: column;
        width: 100%;
        padding: 0;
        padding-top: 30px;
        gap: 20px;
    }
    .banner.banner img {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        margin-top: 20px;
    }
    .banner-title{
        font-size: 55px;
        padding-top: 20px;
    }
    .quick-list-img {
        grid-template-columns: repeat(1, 1fr);
    }

    .quick-list-img img {
        width: 100%;
    }

    .quick-list,
    .features {
        flex-direction: column;
    }

    .features-img img {
        width: 100%;
    }

    .some-facts {
        text-align: center;
        margin-top: 200px;
    }

    .facts {
        flex-direction: column;
        gap: 10px;
        padding: 0 10px;
    }
    .facts-item:hover{

        transform: rotate(0deg) scale(0.8) translateY(2px);
    }

    .experience {
        margin-left:10px;
    }
    .designs{
        flex-direction: column;
        gap: 5px;
    }
    .some-designs img {
       width: 100%;
        
    }

    .sponspors {
        flex-direction: column;
        gap: 20px;

    }

    .sponspors img {
        width: 250px;
        padding-left: 60px;
    }

    footer {
        width: 100%;
        padding: 20px 0px;
        text-align: center;
    }


}
